# Ignora arquivos binários gerados pelo GCC
*.exe
*.o
*.obj

# Ignora arquivos de depuração
*.log
*.out
*.tmp

# Ignora arquivos do VS Code
.vscode/
.output/

# Ignora arquivos do sistema
Thumbs.db
.DS_Store

# Ignora arquivos temporários
*.swp
*.swo

# Ignora o próprio arquivo .gitignore
.gitignore
